@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;}

body{
     width: 100%;
     height: 100vh;
     font-family: 'Poppins', sans-serif;
     background: linear-gradient(-45deg, #ffce51, #ff2253, #fd5754);} /* deixa com várias cores*/

#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: #ff2278 ;}

.title{
     font-size: 1.8em;
     margin-bottom: 10%;
}
h2{
    text-align: center;
}

.input{
      min-width: 280px;
      border-radius: 22px;
      border: 2px solid #6f7e8a;
      padding: 2px;
      margin: 0px 0px 8px -5px;
}

input i{
        font-size: 1.12em;
        padding: 5px;}

.input input{
    width: 80%;
    outline: none; /*deixa a borda invisivel*/
    font-family: 'Poppins' sans-serif;
    transform: translateY(-10%);
    color: #6f7e8a;
    font-size: 11pt;
}

.input select{
    width: 90%;
    outline: none;
    font-family: 'Poppins' sans-serif;
    color: #6f7e8a;
    font-size: 11pt;
}

.btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;

}
.btn button{
    font-family: 'Poppins' sans-serif;
    background: linear-gradient(-45deg, #ffce51, #ff2253, #fd5754); /* deixa com várias cores*/
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.btn button:hover{
    background: linear-gradient(-45deg, #eec04c, #ec7054, #ee5a57)
}

                                                             /* css card*/  

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 18px #6669cd5c;
    width: 400px;}

.topcard {
    padding: 5px;
    padding-top: 0px;}

.navbar{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    cursor: pointer;}

.navbar i{
    font-size: 1.2em;
    color: #acc7eccc;
    font-size: 2rem;}

.navbar i:nth-child(2){         color: #fe466d;}

.foto_acoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;}

.foto{
    width: 100%;
    height: 70vh;
    background:url(../img/prince-akachi-4Yv84VgQkRM-unsplash.jpg) center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, .77);}

.foto_texto{                    padding: 15px;}

.nome-idade{
    display:flex;
    margin-bottom: 3px;
    align-items: center;}

.nome-idade h2{
    font-size: 1.8em;
    font-weight: 500;}

.nome-idade h2:nth-child(2){
    margin-left: 10px;
    font-weight: 400;
}

.acoes{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
    height: 40px;}

.acao{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.7rem;
    box-shadow: 0 0px 0px 0 rgba(112, 125, 135, .15);
    cursor: pointer;}

.acoes .acao:nth-child(1){
    background:#e2264f;
    color: #fff; }

.acoes .acao:nth-child(2){
    background:#26ade2;
    color: #fff;}

.acoes .acao:nth-child(3){
    background:#26e2b3;
    color: #fff;}


@media only screen and (min-width: px) {
.foto{ width: 367px; height: 684px;}

.acoes{flex: initial;}    

.foto_acoes{justify-content: center;}

.navbar{ width: 400px; margin: auto;}
}