* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to left, #ffce51 0%, #fd5754 45%, #ff2253 55%);
    height: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
  }

/* botão Novo Card */  
.novo{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    display: none;
    padding: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 1.7em;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: 1.2em;
    font-weight: 600;
    background: #f39353;
    box-shadow: 0px 5px 5px #2425253f;
    z-index: 1;
}

/* form */
#form{
    display: none; /*flex*/
    width: 95%;
    justify-content: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 20px;

    align-items: center;
    color: #ff2278 ;
}

.title{
    font-size: 1.8em;
    margin-bottom: 10%;
}

h2{
    text-align: center;
}

.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px solid #6f7e8a;
    padding: 10px;
    margin: 0px 0px 8px -5px;
}

input i{
    font-size: 1.12em;
    padding: 5px;
    outline: none;
    }

.input input{
    width: 80%;
    outline: none; /*deixa a borda invisivel*/
    transform: translateY(-10%);
    color: #6f7e8a;
    font-size: 11pt;
}

.input select{
    width: 90%;
    outline: none;
    color: #6f7e8a;
    font-size: 11pt;
}

.btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.btn button{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ffce51, #ff2253, #fd5754); /* deixa com várias cores*/
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.btn button:hover{
    background: linear-gradient(-45deg, #eec04c, #ec7054, #ee5a57)
}

p {
    font-size: 0.em;
}

  .wrapper {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(214px, 1Fr) ) ;
      color: rgb(233, 204, 204);
      margin: 30px auto;
  }
  
  .wrapper h2, p {
    color:rgb(255, 255, 255);
}

    .box {
        background-color: rgb(212, 229, 231);
      color: rgb(122, 118, 118);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.822);
      justify-content: center;
      align-items: center;
      padding: 32px 10px;
      margin-left: 5px;
      margin-top:5px;
      max-width: 21rem;

  
      margin: 0 auto;
      font-size: 1rem;
      text-align: center;
    }

.icon{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
    width: 180px;
    height: 18rem;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;

}
    .box img {
        width: 100wh;
    }

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 18px #6669cd5c;
    width: 15rem;
}

.topcard {
    padding: 5px;
    padding-top: 0px;
}

.navbar{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.navbar i{
    font-size: 1.2em;
    color: #acc7eccc;
    font-size: 2rem;
}

.navbar i:nth-child(2){
    color: #fe466d;}

.foto_acoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

.foto{
    width: 100%;
    height: 50vh;
    background:url(../img/prince-akachi-4Yv84VgQkRM-unsplash.jpg) center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, .77);
}

.foto_texto{
    padding: 15px;
}

.nome-idade{
    display:flex;
    margin-bottom: 3px;
    align-items: center;
}

.nome-idade h2{
    font-size: 1.8em;
    font-weight: 500;
}

.nome-idade h2:nth-child(2){
    margin-left: 10px;
    font-weight: 400;
}

.acoes{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
    height: 40px;
}

.acao{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.7rem;
    box-shadow: 0 0px 0px 0 rgba(112, 125, 135, .15);
    cursor: pointer;
}

.acoes .acao:nth-child(1){
    background:#e2264f;
    color: #fff;
}

.acoes .acao:nth-child(2){
    background:#26ade2;
    color: #fff;
}

.acoes .acao:nth-child(3){
    background:#26e2b3;
    color: #fff;
}


@media only screen and (min-width: px){
.foto{width: 367px; height: 684px;}

.acoes{flex: initial;}    

.foto_acoes{justify-content: center;}

.navbar{ width: 400px; margin: auto;}
}

    @media screen and (max-width: 1400px) {
        #form{
        width: auto;
        }
    }



    